* {
    font-family: "Nunito Sans", Verdana, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {

/**Colour Scheme **/
--primary-color: black;


/**Text Size **/
--tsm: 0.75rem;
--tmd: 1rem;
--tl: 1.2rem;
--txl: 1.8rem;
--txxxl: 3rem;

/** Sizes **/

}

/* Color */
.bg-dark {
    background-color: var(--primary-color) !important;}

.title {
font-size: var(--txxxl)
}
.small {
font-size: var(--tsm);
}

.large {
    font-size: var(--txl);
}

.navbar-brand {
  color: #d6a553 !important;
}




/* Font Family */
.RougeScript {
    font-family: "Rouge Script", Verdana, sans-serif;
}

.Handjet {
    font-family: "Handjet", Verdana, sans-serif; ;
}

.mobile-menu {
        display: block;
    }

/** Projects cards **/    
.card {
    width: 31%;
    margin: auto;
    height: 700px;
}

.card-header{
    font-size:var(--tl)
}

/** Social Media Icons **/
.socials {
    width:8%;
}



/* Media Queries */
@media (max-width: 1024px) {

    .card {
    width: 86%;}
}


   


