* {
    font-family: "Nunito Sans", Verdana, sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {

/**Colour Scheme **/
--primary-color: black;
--secondary-color:#d6a553;


/**Text Size **/
--tsm: 0.75rem;
--tmd: 1rem;
--tl: 1.2rem;
--txl: 1.8rem;
--txxxl: 3rem;

/** Sizes **/
--xsm: 0.15rem;
}

/* Color */
.bg-dark {
    background-color: var(--primary-color) !important;}

.title {
font-size: var(--txxxl)
}
.small {
font-size: var(--tsm);
}

.large {
    font-size: var(--txl);
}

.navbar-brand {
  color: var(--secondary-color) !important;
}


nav ul li a:hover {
    border-radius: 0.25rem;
    background: rgba(241, 254, 254, 0.4);
    backdrop-filter: blur(8px);
    padding: var(--xsm);
}
   

/* Font Family */
.RougeScript {
    font-family: "Rouge Script", Verdana, sans-serif;
}

.Handjet {
    font-family: "Handjet", Verdana, sans-serif; ;
}

.mobile-menu {
        display: block;
    }

/**About section **/
.coverimg {
border-radius: 20%; 
}   

/** Projects cards **/    
.card {
    width: 31%;
    margin: auto;
    height: 700px;
}

.card-header{
    font-size:var(--tl)
}

/**Form style **/
form {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    border-radius:0.5rem;
    color: white;
}

/** Social Media Icons **/
.socials {
    width:8%;
}




/* Media Queries */
@media (max-width: 1024px) {

    .card {
    width: 86%;
}
    
    #Projects {
        background-color: var(--primary-color);
        color:var(--secondary-color);
    }

    form { 
        background-color: rgba(0, 0, 0, 0.2);
        color:black;
    }
}


   


